/* RESET */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    font-family: 'PT Sans', sans-serif;
}

/* COMMON */
.mobile-container {
    padding-left: 2rem;
    padding-right: 2rem;
}
.container {
    max-width: 1170px;
    margin: 0 auto;
}
.container-medium {
    width: 100%;
}
section {
    padding-top: 3rem;
    padding-bottom: 3rem;
}
h2 {
    padding: 1rem 0;
    font-size: 2.5rem;
}
img {
    width: 100%;
    display: block;
}
.cta a {
    display: inline-block;
    font-weight: 700;
    font-size: 1.2rem;
    border-radius: 20px;
    text-decoration: none;
    color: white;
    padding: 8px 60px;
}

/* Color */
.violet {
    background-color: #9792e4;
}
.grey {
    background-color: #333333;
}
.c-white {
    color: white;
}
.c-blue {
    color: #0084fd;
}
.c-violet {
    color: #9792e4;
}

/*** HEADER ***/
header {
    background-color: #0084fd;
    height: 70px;
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}
/* Burger Button */
.burger-button {
    font-size: 1.5rem;
}
/* Main Menu */
.main-menu {
    display: none;
}

/*** MAIN ***/
/* Section Services */
.service-row {
    display: flex;
    flex-wrap: wrap;
}
.service-col {
    padding-bottom: 2rem;
    display: flex;
}
.service-card {
    background-color: #b5ddff;
    text-align: center;
    border-radius: 20px;
}
.card-one-col {
    padding: 2rem;
}
.card-two-col {
    padding: 0px 2rem;
}
.icon-large {
    font-size: 80px;
}
.service-content {
    text-align: left;
}
.service-card h2 {
    font-size: 1.6rem;
    padding: 1rem 0;
}
.service-card p {
    padding: 1rem 0;
}
.service-img {
    align-self: flex-end;
}
.cta-store a {
    background-color: #0084fd;
    padding: 8px 60px;
    margin-top: 1rem;
    margin-bottom: 2rem;
}

/* Section Strategic */
.strategic-row {
    width: 100%;
}
.strategic-col {
    color: white;
}
.strategic-col:first-child {
    padding-bottom: 1rem;
}
.strategic-col:f {
    padding-bottom: 1rem;
}
.strategic-content h2 {
    padding-top: 100px;
    padding-bottom: 2rem;
}
.strategic-card {
    background-color: white;
    color: black;
    padding: 2rem;
    border-radius: 40px;
    text-align: center;
}
.strategic-card h2 {
    font-size: 1.6rem;
    padding: 1rem 0;
}
.strategic-card img {
    display: block;
    margin: 0 auto;
    text-align: center;
    width: 80%;
}
.circle-icon {
    display: block;
    width: 50px;
    line-height: 50px;
    border-radius: 50%;
    font-size: 20px;
    margin: 2rem auto 0 auto;
}


/* Section Testimonials */
.testimonial-header {
    text-align: center;
}
.title-testimonial {
    text-transform: uppercase;
}
.testimonial-row {
    padding: 1rem;
    margin: 2rem 0;
    border-radius: 30px;
}
.testimonial-img-col {
    width: 100%;
    margin: 1rem 0;
    display: flex;
    justify-content: center;
}
.square-img-box {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    overflow: hidden;
}
.square-img-box img  {
    height: 100%;
    object-fit: cover;

}
.testimonial-content-col {
    padding-top: 1rem;
    color: white;
    text-align: center;
}
.testimonial-content-col p{
    padding-bottom: 1rem;
}
.testimonial-autor {
    font-size: 1.2rem;
    font-weight: 700;
    text-transform: uppercase;
}

/* Section Benefits */
.title-h2-desktop {
    text-align: center;
}
.benefits-row {
    padding-top: 2rem;
}
.benefit-col {
    padding-bottom: 2rem;
}
.benefit {
    background-color: white;
    padding: 2rem;
    border-radius: 20px;
}
.benefit-number {
    font-size: 3rem;
    font-weight: 700;
    display: block;
}
.benefit-title {
    font-size: 1.5rem;
    font-weight: 700;
    padding: 1rem 0;
    display: block;
}
.cta-benefit a {
    margin: 1rem 0;
    background-color: #9792e4;
}

/* Section About us */
.au-wide-col {
    padding-bottom: 2rem;
    position: relative;
}
.about-us-title {
    font-size: 3.5rem;
}
.au-wide-col p {
    padding-bottom: 1rem;
}
.about-us-img {
    width: 200px;
    height: 200px;
    position: relative;  
}
.about-us-img img{
    border-radius: 50%;
}
.about-quote {
    font-size: 60px;
    position: absolute;
    top: 0;
    right: 0;  
}
.blockquote {
    font-size: 1.6rem;
    font-weight: 700;
    padding: 1rem 0;
}
.cta-about a {
    margin: 1rem 0;
    background-color: #9792e4;
    font-size: 1rem;
    padding: 8px 20px;  
}

/*** FOOTER ***/
footer {
    padding: 3rem 2rem;
}

/**************
    TABLET
**************/
@media screen and (min-width: 768px) {
    /*** MAIN ***/
    /* Section Service */
    .service-row {
        margin-left: -1rem;
        margin-right: -1rem;
    }
    .service-col {
        width: calc(100% / 3);
        padding-left: 1rem;
        padding-right: 1rem;
    }
    .service-col:first-child {
        width: calc( (100% / 3) * 2 );
    }
    .service-img img {
        width: 250px;
    }

    /* Section Testimonials */
    .testimonial-row {
        display: flex;
    }
    .testimonial-img-col {
        width: 150px;
    }
    .testimonial-content-col {
        width: calc(100% - 150px);
        padding-top: 2rem;
        padding-left: 2rem;
        display: inline-block;
        align-items: center;
        text-align: left;
    }

    /* Section Benefits */
    .benefits-row {
        margin-left: -1rem;
        margin-right: -1rem;
        display: flex;
        flex-wrap: wrap;
    }
    .benefit-col {
        width: calc(100% / 2);
        padding-left: 1rem;
        padding-right: 1rem;
    }

    /* Section About us */
    .about-us-row {
        display: flex;
    }
    .au-wide-col {
        width: calc(100% - 250px);
        padding: 0 2rem;
    }
    .au-small-col {
        width: 250px;
    }  

    /* Section Cta */
    .cta-container {
        max-width: 600px;
    }

    /*** FOOTER ***/
    .footer-container {
        max-width: 500px;
    }
}

/**************
    DESKTOP
**************/
@media screen and (min-width: 992px) {
    /*** HEADER ***/
    /* Burger Button */
    .burger-button {
        display: none;
    }
    /* Main Menu */
    .main-menu {
        display: block;
    }
    .main-menu ul {
        display: flex;
        list-style-type: none;
        align-items: center;
    }
    .main-menu li {
        padding-left: 2rem;
    }
    .main-menu li a {
        text-decoration: none;
        color: white;
        font-size: 1.1rem;
    }
    li .cta-menu a { 
        font-size: 1.2rem;
        color: black;
        padding: 7px 18px;
        background-color: white;
        border-radius: 30px;
    }

    /*** MAIN ***/
    .title-h2-desktop {
        font-size: 3rem;
    }
    /* Section Service */
    .service-img {
        width: 100%;
    }

    /* Section Strategic */
    .container-medium {
        max-width: 850px;
        margin: 0 auto;
    }
    .strategic-row {
        display: flex;
        justify-content: space-between;
    }
    .strategic-col {
        width: calc(50% - 1rem);
        display: flex;
    }
    .card-two-col {
        display: flex;
    }
    .strategic-card-flex {
        display: inline-block; 
        align-self: flex-end; 
    }

    /* Section Benefits */
    .benefit-col {
        width: calc(100% / 3);
    }
    /* Section About us */
    .au-wide-col {
        width: 75%;
    }
    .au-small-col {
        width: 25%;
    }
}
