/* RESET */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    font-family: 'PT Sans', sans-serif;
}

/* COMMON */
.mobile-container {
    padding-left: 2rem;
    padding-right: 2rem;
}
.container {
    max-width: 1170px;
    margin: 0 auto;
}
.container-medium {
    width: 100%;
}
section {
    padding-top: 3rem;
    padding-bottom: 3rem;
}
img {
    width: 100%;
}
/* Color */
.violet {
    background-color: #9792e4;
}

/* HEADER */
header {
    background-color: #0084fd;
    height: 70px;
    color: white;
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}
.main-menu {
    display: none;
}

/* MAIN */
/* Section Services */
.service-row {
    display: flex;
    flex-wrap: wrap;
}
.service-col {
    padding-bottom: 2rem;
    display: flex;
}
.service-card {
    background-color: #b5ddff;
    padding: 1rem;
}
/* Section Strategic */
.strategic-row {
    width: 100%;
}
.strategic-col {

    /* TEST */
    background-color: lightblue;
}
.strategic-col:first-child {
    padding-bottom: 1rem;
}
/* Section Testimonials */
.testimonial-row {
    padding: 1rem;
    margin: 3rem 0;
}
.testimonial-img-col {

    /* TEST */
    background-color: lightpink;
}
.testimonial-content-col {
    padding-top: 1rem;

    /* TEST */
    background-color: azure;
}


/**************
    TABLET
**************/
@media screen and (min-width: 768px) {
    /* Section Service */
    .service-row {
        margin-left: -1rem;
        margin-right: -1rem;
    }
    .service-col {
        width: calc(100% / 3);
        padding-left: 1rem;
        padding-right: 1rem;
    }
    .service-col:first-child {
        width: calc( (100% / 3) * 2 );
    }

    /* Section Testimonials */
    .testimonial-row {
        display: flex;
    }
    .testimonial-img-col {
        width: 25%;
    }
    .testimonial-content-col {
        width: 75%;
        padding-top: 2rem;
        padding-left: 2rem;
    }
}

/**************
    DESKTOP
**************/
@media screen and (min-width: 992px) {
    /* Header */
    .main-menu {
        display: block;
    }
    .burger-button {
        display: none;
    }
    /* Section Strategic */
    .container-medium {
        max-width: 850px;
        margin: 0 auto;
    }
    .strategic-row {
        display: flex;
        justify-content: space-between;
    }
    .strategic-col {
        width: calc(50% - 1rem);
        background-color: lightblue;
    }
}
